


@tablet: ~"(min-width: 700px)";
@800: ~"(min-width: 800px)";


@desktop: ~"(min-width: 1000px)";



.backgroundAndColor {
    background: silver;
    color: white;
}

.gradientBackground {
    background: linear-gradient(180deg, #000000, #6a806c);
}

.roundedges {
    border-radius: 10%;
}